<dd class="accordion__content">
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Name</th>
                <th class="text-left">Due Date</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr>
                <td class="text-left">Acceptance Now</td>
                <td class="text-left">June 30th</td>
            </tr>
            <tr>
                <td class="text-left">5th 3rd Bank - Wealth Management Portal</td>
                <td class="text-left">June 25th</td>
            </tr>
            <tr>
                <td class="text-left">NEC - Self Service Portal</td>
                <td class="text-left">July 2nd</td>
            </tr>
            <tr>
                <td class="text-left">Hindu - Revamp Sportstar magazine portal</td>
                <td class="text-left">July 2nd</td>
            </tr>
            <tr>
                <td class="text-left">Equifax - Learning Content Management</td>
                <td class="text-left">July 2nd</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:0">
                    <div class="example">
                    </div>
                </td>
            </tr>
        </tbody>
        <nav>
            <ul class="pagination" style="width:240px; margin-top:2%">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </table>

</dd>