<div>
	<a [routerLink]="['/newproject']"><button type="button" class="btn btn-success btn-lg">New Project</button></a>
	<a [routerLink]="['/pandp']"><button type="button" class="btn btn-success btn-lg">Practice And Platform</button></a>
	<a [routerLink]="['/technologies']"><button type="button" class="btn btn-success btn-lg">Technologies</button></a>
	<a [routerLink]="['/nfr']"><button type="button" class="btn btn-success btn-lg">NFR</button></a>
	<button type="button" class="btn btn-success btn-lg">Submission</button>
</div>

<section id="wizard-p-4" role="tabpanel" aria-labelledby="wizard-h-4" class="body current" aria-hidden="false" style="display: block; left: 0px;">
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-4">
				<button class="button">Download Template</button>
			</div>
			<div class="col-sm-4">
				<button class="button">Upload WBS</button>
			</div>
			<div class="col-sm-4">
				<button class="button">View All Estimation</button>
			</div>
		</div>

	</div>
	<br><br>
	<div class="col-sm-12">
		<button class="button">Calculate Cut Effort:</button><span>64 Days</span>
	</div>
	<a [routerLink]="['/nfr']"><button type="button" class="btn btn-success prev">Prev</button></a>
</section>